*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header
{
  width: 100%;
  height: 100vh;
  background: url(img/fon.jpg) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
header nav
{
  width: 60%;
  margin: auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}
body
{
  font-family: 'Roboto', sans-serif;
}
header h1
{
  font-size: 6em;
  text-transform: uppercase;
  padding-top: 12%;
}
header p
{
  font-size: 1.2em;
  padding-top: 1%;
}
 header button
{
  border: 0;
  background: 0;
  color: white;
  padding: 1em 3em;
  border-radius: 60px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
header button:hover
{
  background: white;
  color: #7BD9FF;
  transition: 1s;
  cursor: pointer;
}
.man
{
  width: 80%;
  height: 700px;
  margin: auto;
 display: flex;
 justify-content: space-between;
}
.man .box
{
	flex-basis: 60%;

}
.box:nth-child(1)
{
	flex-basis:40%;

}
.box img
{
width: 70%;
margin-top:15%;
}
.box h2
{
	padding-top: 15%;
	color:black;
	font-size: 2em;
	padding-left: 40px;
}
.box p
{
	padding-left:40px;
	text-align:justify;
	margin-top:8%;
	font-size: 1.3em;
}
.box button 
{
border:0;
background: #ff2b4a;
border:1px solid #ff2b4a;
padding:1em 3.8em;
color:white;
margin-left:40px;
font-size:14px;
font-weight: 700;
letter-spacing: 1px;
margin-top: 70px;
}
.box button:hover
{
	background: white;
	color:#ff2b4a;
	cursor:pointer;
	transition: 1s;
}
@media (min-width: 320px) and (max-width: 600px)
{
body{background: red}

header nav
{
  width: 80%;
  margin: auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;  }
 header h1
{
  font-size: 1.5em;
 
  padding-top: 10%;
}
header p
{
  font-size: 0.6em;
  padding-top: 1% 0;
}
 header button
{
  border: 0;
  background: 0;
  color: white;
  padding: 0.8em 2.5em;
  border-radius: 60px;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top:2%;
  outline:none;
  }